
.centered-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-center-page {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #89b4c4;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    margin-top: 20px; 
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.input-container label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.input-container input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #519caf;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #519caf;
}

.manifest-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #519caf;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.manifest-button:hover {
    background-color: #519caf;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center;
}

.centered-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.centered-container button {
    padding: 10px 20px;
    background-color: #519caf;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.centered-container button:hover {
    background-color: #417a85;
}